<div class="wf-expandable wf-expandable-activity"
     data-bind="css: { 'wf-closed': !isExpanded() }">
    <div class="wf-exp-control">
        <div class="wf-exp-btn" data-bind="click: toggleExpand"></div>
        <div class="wf-exp-line" data-bind="visible: isExpanded()"></div>
        <div class="wf-exp-lineend" data-bind="visible: isExpanded()"></div>
    </div>
    <div class="wf-exp-cnt">
        <div class="wf-activity">
            <div class="wf-head">
                <div class="wf-icon">
                    <img data-bind="attr: { src: icon }">
                </div>
                <div class="wf-tag" data-bind="text: tagName"></div>
                <div class="wf-edit single-line"
                     data-bind="{text: displayName, attr: { contenteditable: isExpanded() }}">
                </div>
                <div class="wf-brace wf-br-open">{<span class="wf-br-closed-end">&nbsp;...&nbsp;}</span></div>
                <div class="wf-btns">
                    <div class="wf-btn wf-remove" data-bind="visible: canRemove(), click: remove"></div>
                </div>
            </div>
            <div class="wf-activity-body">
                <div data-bind="template: { name: 'wf-value-list-tmpl', data: variables, if: variables() !== null }">
                </div>
                <div data-bind="template: { name: 'wf-property-category-list-tmpl', data: properties, if: properties() !== null }">
                </div>
                <div data-bind="template: { name: 'wf-value-list-tmpl', data: args, if: args() !== null }">
                </div>
                <div data-bind="visible: !isRoot()">@to:
                    <div class="wf-edit wf-var-name single-line" contenteditable="true"></div>
                </div>
            </div>
            <div class="wf-activity-closing">
                <div class="wf-brace wf-br-close">}</div>
            </div>
        </div>
    </div>
</div>